.main-view-page {
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
    background: url(../../images/cover.webp) no-repeat center bottom fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-view-page > .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(240, 248, 255, 0.87);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
}

.main-view-page > .logo > img {
    width: 100%;
    height: 100%;
    transition: transform .5s ease-in-out;
}

.main-view-page > .logo > img:hover {
    transform: scale(1.06)
}

.bm-burger-button > span {
    height: 40px;
    width: 40px;
    display: inline-block;
    position: relative;
}

.bm-burger-button {
    position: relative;
    width: 100%;
    height: 100%;
}

@media (min-width: 576px) {
    .main-view-page > div:last-of-type {
        display: none;
    }
}

@media (max-width: 576px) {
    .main-view-page > div:last-of-type {
        display: block;
    }
}